<div class='card'>
  <div class='card-header'>
    {{pageName}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type="text"
               [(ngModel)] = 'filterData'>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        Filtered by {{filterData}}
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'

             *ngIf="products && products.length"

      >
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary'
                    (click)="toggleToShowProductImage()"
            >
              {{isShowImage ? 'Hide Image' : 'Show Image'}}
            </button>
          </th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Available</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <th>
              <img *ngIf="isShowImage"
                   [src]="product.imageUrl"
                   [title]="product.name"
                   [style.width.px]="imageWidth"
              />
            </th>
            <th>{{product.code | replaceWithDash: ' '}}</th>
            <th>{{product.name | uppercase}}</th>
            <th>{{product.price | currency: 'THB ' : 'symbol': '1.2'}}</th>
            <th>Yes</th>
            <th>{{product.rating}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
